@media screen and (max-width: 750px) { 
	.firstSection {
		padding: 25% 5% 25% 5% !important;
	}
	
	.firstSection h2 {
		padding-bottom: 8%;
	}
	
	.imageGroupHolder {
		flex-wrap: wrap;
		width: 100%;
	}
	
	.imageGroupHolder img {
		width: 100%;
		margin-bottom: 8%;
	}
	
	#Hide, #Hide2, #Hide3, #Hide4, #Hide5, #Hide6, #Hide7, #Hide8, #Hide9, #Hide10, #Hide11, #Hide12, #Hide13, #Hide14 {
		font-size: 15px;
	}
	
	.minusHolder p {
		font-size: 30px;
	}
	
	.verticalMinus, .verticalMinus2, .verticalMinus3, .verticalMinus4, .verticalMinus5, .verticalMinus6, .verticalMinus7, .verticalMinus8, .verticalMinus9, .verticalMinus10, .verticalMinus11, .verticalMinus12, .verticalMinus13, .verticalMinus14 {
		bottom: 1px !important;
		left: 0px !important;
	}
	
}