@media screen and (max-width: 750px) {
	.landing {
		background-attachment: scroll;
	}
	
	.recentPostHolder  img {
		width: 100%;
		margin-bottom: 5%;
	}
	
	.recentPostHolder  a{
		display: flex;
		flex-wrap: wrap;
	}
	
	.firstSection {
		padding: 25% 5% 25% 5%;
	}	
	
	.firstSection h2 {
		padding-bottom: 8%;
	}
	
	.postLog {
		width: 100%;
	}
	
	.blogHolder {
		border-right: 0px solid white;
		width: 100%
	}
	
	.overallContainer {
		display: flex;
		flex-wrap: wrap;
	}
	
	.recentPostHolder a p {
		width: 55%;
	}
	
	.textSection {
		padding-bottom: 8%;
	}
	
	.pagination {
		width: 80%;
	}

}